
.error-message
{
    color: red;
    font-weight: bold;
}

//.dev-form-group {
//  display: flex;
//  flex-wrap: wrap;
//  align-items: center;
//}

.form-group {
    padding: 10px;
}

h1 {
  text-align: center;
  margin: 20px 0 40px 0;
}
