h1 {
  margin: 20px 0;
  text-align: center;
}

.error-message
{
    color: red;
    font-weight: bold;
}

.btn-primary {
  margin-top: 20px;
}

.dev-form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-group {
  padding: 10px;
}
